<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
    <meta charset="UTF-8">
    <title>Edit Product</title>
</head>
<body>
<p>
    <a th:href="@{/products}">Back to product list</a>
</p>
<div id="form">
    <form action="#" th:action="@{/products/update}" th:object="${products}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>Name</label>
            <input type="text" th:field="*{name}"/>
        </div>
        <div>
            <label>Price</label>
            <input type="email" th:field="*{price}"/>
        </div>
        <div>
            <label>Description</label>
            <input type="text" th:field="*{description}"/>
        </div>
        <div>
            <label>Quantity</label>
            <input type="text" th:field="*{quantity}"/>
        </div>
        <input type="submit" value="Edit"/>
    </form>
</div>
</body>
</html>